<div class="div-fix"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->



<div class="row">
  <div class="col">
    <h2>Cardápio</h2>
  </div>
</div>




<div class="card">
  <ul class="list-group list-group-flush">
    {{#each responseModel.data}}
    <li class="list-group-item">
      <div class="row">
        <div class="col">{{nome}}</div>
        <div class="col">{{descricao}}</div>
        <div class="col">{{preco}}</div>
        <div class="col d-flex flex-row-reverse">
          <a href="/cardapio/remove/{{id}}" class="btn btn-danger ms-2">Deletar</a>
          <a href="/cardapio/update/{{id}}" class="btn btn-success ms-2">Editar</a>
          <a href="/cardapio/find/{{id}}" class="btn btn-primary ms-2">Detalhes</a>
          <input type="number" name="quantidade{{id}}" class="form-control" id="formGroupExampleInput">

        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>