<h2>{{response.titulo}}</h2>
<hr>
<div class="m-3">
    <p><strong>Nome:</strong>&nbsp;&nbsp;{{response.data.nome}}</p>
    <p><strong>Login:</strong>&nbsp;&nbsp;{{response.data.login}}</p>
    <p><strong>Ativo:</strong>&nbsp;&nbsp;{{response.data.ativo}}</p>
    <p><strong>Criado em:</strong>&nbsp;&nbsp;{{response.data.createdAt}}</p>
    <p><strong>Alterado em:</strong>&nbsp;&nbsp;{{response.data.updatedAt}}</p>
</div>
<hr>
<a href="/usuario" class="btn btn-success">Voltar</a>