<head>
  <title>Projeto Final</title>
  
        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/styles.css">

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
 
</head>

<body>
  <!--
  <div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <li class="nav-item-logo-img"><a class="navbar-brand" href="/">
                <img src="/images/hamburger.png" alt="Logo" width="27" height="26">
              </a></li>
            <li class="nav-item-logo"><a class="navbar-brand" href="/">
                La Boucherie
              </a></li>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cardapio">Card치pio</a>
            </li>

            {{#if user}}
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/usuario/login">Login</a>
            </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="/#sobre-nos">Sobre n칩s</a>
            </li>
            {{#if user}}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Seja bem vindo(a), <strong>{{user.nome}}</strong>!

              </button>
              <ul class="dropdown-menu">
                {{#if user.ativoAdm }}
                <li><a class="dropdown-item" href="/usuario/list">Lista de Clientes</a></li>
                <li><a class="dropdown-item" href="/cardapio/list">Lista de Lanches</a></li>
                {{else}}
                {{/if}}
                <li><a class="dropdown-item" href="/usuario/perfil">Perfil</a></li>
                <li><a class="dropdown-item" href="/usuario/logout">Sair</a></li>
              </ul>
            </div>
            {{else}}

            {{/if}}</a>
          </ul>
        </div>
    </nav>
  </div>
  -->


  <!--=============== HEADER ===============-->
        <header class="header">
            <nav class="nav container">
                <div class="nav__data">
                    <a href="/" class="nav__logo" style="font-weight: 700;font-size:20px">
                        <img src="/images/hamburger.png" alt="Logo" width="27" height="26"> La Boucherie
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line nav__toggle-menu"></i>
                        <i class="ri-close-line nav__toggle-close"></i>
                    </div>
                </div>

                <!--=============== NAV MENU ===============-->
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li>
                            <a href="/" class="nav__link">Home</a>
                        </li>


                        <li>
                            <a href="/cardapio" class="nav__link">Card치pio</a>
                        </li>

                       

                         {{#if user}}
                        {{else}}

                         <li>
                            <a href="/usuario/login" class="nav__link">Login</a>
                        </li>
                        {{/if}}








                        <!--=============== DROPDOWN 1 ===============-->
                    
                             {{#if user}}

                        <li class="dropdown__item">
                            <div class="nav__link dropdown__button">
                               Seja bem vindo(a), <strong>{{user.nome}}</strong>! <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                            </div>

                            <div class="dropdown__container" >
                                <div class="dropdown__content">

                                    <div class="dropdown__group">
                                       
    
                                        <a href="/usuario/perfil"><span class="dropdown__title">Perfil</span></a>
    
                                    </div>
                                        {{#if user.ativoAdm }}
                                    <div class="dropdown__group">
                                     
                                        <span class="dropdown__title">Administrador</span>

                                            

                                        <ul class="dropdown__list">
                                            <li>
                                                <a href="/usuario/" class="dropdown__link">Lista de Clientes</a>
                                            </li>
                                            <li>
                                                <a href="/cardapio/list" class="dropdown__link">Lista de Lanches</a>
                                            </li>
                                            <li>
                                                <a href="pedido/" class="dropdown__link">Lista de Pedidos</a>
                                            </li>
                                        </ul>
                                       
                                    </div>
                                     {{else}}
                                        {{/if}}
    
                                    <div class="dropdown__group">
                                        
    
                                        <a href="/usuario/logout"><span class="dropdown__title">Sair</span></a>
    
                                    </div>
                                </div>
                            </div>
                        </li>

                        {{/if}}

                         <li>
                            <a href="/#sobre-nos" class="nav__link">Sobre n칩s</a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        
        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>

  <div>
    {{>_msg}}
    {{{body}}}
  </div>

</body>


</html>