<body>
    <div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->


    <div class="lista" style="margin-bottom: 30px;">
        <h3 style="margin-bottom: 0px">Seja bem vindo(a) ao seu perfil {{response.data.nomeCliente}}</h3>
    </div>

    
    <div class="lista" style="margin:0 auto">
        {{>_msg}}
    </div>

    <div class="card" style="width: 50%">
        <div class="cadastro" style="margin-top: 0px;">

            <hr>
            <div class="form-group">
                <div class="form-label-editar">
                    <p><strong>Nome:</strong></p>
                </div>
                <input type="text" name="nome" id="nome" placeholder="Digite aqui o novo nome do Usuário"
                    value="{{response.data.nome}}" disabled /><br />
            </div>

            <div class="form-group">
                <div for="nome" class="form-label-editar">
                    <p><strong> E-mail:</strong></p>
                </div>
                <input type="text" name="email" id="email" placeholder="Digite aqui o novo email"
                    value="{{response.data.email}}" disabled /><br />
            </div>

            <div class="form-group">
                <div for="nome" class="form-label-editar">
                    <p><strong>Telefone:</strong></p>
                </div>
                <input type="text" name="telefone" id="telefone" placeholder="Digite aqui o novo telefone"
                    value="{{response.data.telefone}}" disabled /><br />
            </div>
            <div class="form-group">
                <div for="nome" class="form-label-editar">
                    <p><strong> Endereço:</strong></p>
                </div>
                <input type="text" name="endereco" id="endereco" placeholder="Digite aqui o novo endereço"
                    value="{{response.data.endereco}}" disabled /><br />
            </div>

            <div class="lista" style="margin-top:0px;">
                <div class="form-group" style="margin-bottom:0px ;">
                    <a href="/usuario/update/{{response.data.id}}"><button>Editar</button></a>
                </div>
            </div>

            <div class="lista" style="margin-top:0px ;">
                <div class="form-group" style="margin-top:0px ;">
                    <a href="/usuario/senha"><button>Mudar senha</button></a>
                </div>
            </div>
        </div>
    </div>




    <!-- Pedidos -->
    <br>


    <div class="card" style="width:50% ;">
        <div class="lista" style="margin:20px auto -40px ;">
            <h3>Pedidos</h3>
        </div>
        <ul class="list-group list-group-flush">
            {{#each response.listaPedidos}}
            
            <a href="/pedido/find/{{idPedido}}" style="text-decoration: none;">
                <li class="list-group-item" style=
                "margin: 5px 10px;
                border: transparent;">
                
                    <div class="row" style="    
                    color: rgb(255, 255, 255);
                    font-weight: 200;
                    font-family: 'Montserrat', sans-serif;
                    margin: 5px 0px;
                    text-align: center;">

                        <div class="col"> <strong>Número do Pedido: </strong>{{idPedido}}</div>
                        <div class="col"><strong>Data: </strong>{{createdAt}}</div>

                    </div>
                </li>
            </a>
            {{else}}
    <div class="m-5">
      <h5>Sem itens cadastrados.</h5>
    </div>
    {{/each}}


        </ul>
    </div>


</body>