<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin-bottom: 0px;">
    <h3>Atualização do lanche: {{response.data.nome}}</h3>
</div>
<div class="cadastro" style="margin-top: 0px;">
    <form method="POST">
        <hr>
        <div class="form-group">
            <div class="form-label-editar">
                <p><strong>Nome:</strong></p>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Digite aqui o novo nome do lanche"
                value="{{response.data.nome}}" /><br />
        </div>

        <div class="form-group">
            <div for="nome" class="form-label-editar">
                <p><strong> Descrição:</strong></p>
            </div>
            <input type="text" name="descricao" id="descricao" placeholder="Digite aqui a nova descrição"
                value="{{response.data.descricao}}" /><br />
        </div>

        <div class="form-group">
            <div for="nome" class="form-label-editar">
                <p><strong>Preço:</strong></p>
            </div>
            <input type="text" name="preco" id="preco" placeholder="Digite aqui o novo preço"
                value="{{response.data.preco}}" /><br />
        </div>
        <div class="form-group">
            <div for="nome" class="form-label-editar">
                <p><strong> Foto:</strong></p>
            </div>
            <input type="text" name="foto" id="foto" placeholder="Digite aqui o novo endereço da foto"
                value="{{response.data.foto}}" /><br />
        </div>
        <div class="form-group">
            <div for="nome" class="form-label-editar">
                <p><strong> Foto do destaque:</strong></p>
            </div>
            <input type="text" name="fotoDestaque" id="fotoDestaque" placeholder="Digite aqui o novo endereço da foto"
                value="{{response.data.fotoDestaque}}" /><br />
        </div>

        <div for="ativo" class="form-div"> <input class="form-check-input" type="checkbox" id="ativo" name="ativo"
                checked>Lanche ativo</div>
        <br />

        <button type="submit" class="btn btn-success">Salvar</button>

        {{#if user.ativoAdm}}
        <a href="/cardapio/list" class="btn btn-danger">Cancelar</a>
        {{/if}}

    </form>
</div>