<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->

<div class="lista" style="margin-bottom:0px ;">
  <h3 style="margin-bottom:0px ;">{{response.titulo}}</h3>
  <hr>
     {{>_msg}}
</div>


{{#if user.adm}}
<div class="lista" style="margin-top:0px ;">
  <div class="form-group" style="margin-top:0px ;">
    <a href="/cardapio/add"><button>Novo</button></a>
  </div>
</div>
{{/if}}





<div class="card">
  <ul class="list-group list-group-flush">
    {{#each response.data}}
    <li class="list-group-item">
      <div class="row">
        <div class="col">{{nome}}</div>
        <div class="col">{{preco}}</div>
        <div class="col d-flex flex-row-reverse">
          {{#if ../user.adm}}
          <a href="/cardapio/remove/{{id}}" class="btn btn-danger ms-2">Deletar</a>
          <a href="/cardapio/update/{{id}}" class="btn btn-success ms-2">Editar</a>
          {{/if}}
          <a href="/cardapio/find/{{id}}" class="btn btn-primary ms-2">Detalhes</a>
        </div>
      </div>
    </li>
    {{else}} 
    <div class="m-5">
      <h5>Sem itens cadastrados.</h5>
    </div>
    {{/each}}
  </ul>
</div>