<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->

<div class="cardapio">
  <h3>Cardápio</h3>
  <hr>

</div>
<form method="post">
{{#each response.data}}
  <div class="card">
    <div class="row no-gutters">

      <div class="col-md-4">
        <img src="{{foto}}" class="card-img" alt="{{nome}}">
      </div>

      <div class="col-md-8">

        <div class="card-body">

          <h5 class="card-title">{{nome}}</h5>
          <p class="card-text">{{descricao}}</p>
          <p class="card-text"><strong>Preço:</strong> R$ {{preco}}</p>
        </div>
        <div class="card-body2"><input type="number" name="{{id}}" value="0" min="0"></div>
      </div>

    </div>
  </div>

{{else}}
<div class="m-5">
  <h5>Sem itens cadastrados.</h5>
</div>
{{/each}}



 

  


  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/images/AAAAAAA.jpg" class="card-img" alt="Imagem do cardápio">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">X-Salada</h5>
          <input type="hidden" name="lanche[]" value="X-Salada">
          <p class="card-text">Pão, queijo, alface e barata.</p>
          <p class="card-text"><strong>Preço:</strong> R$ 8,99</p>
          <input type="hidden" name="preco[]" value="8.99">
        </div>
        <div class="card-body2"><input type="number" name="qtd[]" value="0" min="0"></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/images/AAAAAAA.jpg" class="card-img" alt="Imagem do cardápio">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">X-Salada Bacon</h5>
          <input type="hidden" name="lanche[]" value="X-Salada Bacon">
          <p class="card-text">Pão, queijo, alface e barata.</p>
          <p class="card-text"><strong>Preço:</strong> R$ 8,99</p>
          <input type="hidden" name="preco[]" value="8.99">
        </div>
        <div class="card-body2"><input type="number" name="qtd[]" value="0" min="0"></div>
      </div>
    </div>
  </div>




  <div class="lista" style="margin-top:0px ;">
    <div class="form-group" style="margin-top:0px ;">
      <button type="submit">Fazer pedido</button>
    </div>
  </div>




</form>