<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->

<div class="cardapio">
  <h3>Cardápio</h3>
  <hr>

</div>

  <div class="lista" style="margin:0 auto">
        {{>_msg}}
    </div>
<form method="post">
{{#each response.data}}
<section id="{{nome}}"> 
  <div class="card">
    <div class="row no-gutters">

      <div class="col-md-4">
        <img src="{{foto}}" class="card-img" alt="{{nome}}">
      </div>

      <div class="col-md-8">

        <div class="card-body">

          <h5 class="card-title">{{nome}}</h5>
          <p class="card-text">{{descricao}}</p>
          <p class="card-text-preco">Preço: <strong style="font-size: 1.7rem;"> R$ {{preco}}</strong></p>
        </div>
        <div class="card-body2"><input type="number" name="{{id}}" value="0" min="0"></div>
      </div>

    </div>
  </div>
  </section>

{{else}}
<div class="m-5">
  <h3 style="margin: 2%;font-size:40px;color:rgb(145, 145, 145)">Sem itens cadastrados.</h3>
</div>
{{/each}}

  <div class="lista" style="margin-top:0px ;">
    <div class="form-group" style="margin-top:0px ;">
      <button type="submit">Fazer pedido</button>
    </div>
  </div>




</form>