<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin: 0px 0px"></div>
<h3>Dados do Pedido</h3>
</div>
<hr>
<div>
    <div class="card" style="width: 90%">
      
        <p>Nome Cliente: 234234 {{nomeCliente}}</p>
       <p>     numero pedido: 234234 {{idPedido}}</p>
       <p> endereco: 234234 {{endereco}}</p>
        <p>telefone: 54452 {{telefone}}</p>
        <p>Total: 234234{{total}}</p>

        
        


        <ul id="list" class="list-group list-group-flush">
            {{#each response.data}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Nome do Lanche:{{nomeCardapio}}</div>
                    <div class="col">Quantidade:{{qtda}}</div>
                    <div class="col">Preço:{{preco}}</div>
                    <div class="col">Status:{{status}}</div>
                    
            </li>
            {{else}}
            <div class="m-5">
                <h5>Sem itens cadastrados.</h5>
            </div>
            {{/each}}



        </ul>
        <div class="col d-flex flex-row-reverse">
          <a href="#" class="btn btn-primary ms-2" style="font-size:20px">Finalizar</a>
        </div>






        <a href="/pedido/" class="btn btn-success" style="margin-top: 10px;">Voltar</a>
    </div>
</div>
</div>
<hr>