<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin: 0px 0px"></div>
<h3>Dados do Pedido</h3>
</div>
<hr>
<div>
    <div class="card" style="width: 90%">
        <div style="display: grid;
  grid-template-columns: 50% 50%;justify-content:center">
        
        <div class="dadosFixos">
            <h3 style="margin: 2%;font-size:40px">Informações do Pedido</h3>
            <p><strong>N° Pedido:&nbsp; </strong>  {{response.cliente.idPedido}}</p>
            <p><strong>Total:&nbsp;</strong>R$ {{response.cliente.total}}</p>
            <p><strong>Data:&nbsp;</strong> {{response.cliente.createdAt}}</p>
        </div>
        
        <div class="dadosFixos">
            <h3 style="margin: 2%;font-size:40px">Informações do Cliente</h3>
            <p><strong>Cliente:&nbsp; </strong>  {{response.cliente.nome}}</p>
            <p><strong>Telefone:&nbsp;</strong>  {{response.cliente.telefone}}</p>
            <p><strong>Endereço:&nbsp;</strong>  {{response.cliente.endereco}}</p>
        </div>
        </div>


        <h3 style="margin: 2%;font-size:40px;margin-top:4%">Itens do Pedido</h3>

        <ul id="list" class="list-group list-group-flush">
            {{#each response.data}}
            <li class="list-group-item" style="width: 85%; margin:10px auto;border-radius:5px">
                <div class="row" style="padding: 10px;border-radius:5px">
                    <div class="col" style="text-align: center;"><strong>Nome do Lanche:&nbsp;</strong>{{nomeCardapio}}</div>
                    <div class="col" style="text-align: center;"><strong>Quantidade:</strong>&nbsp;{{qtda}}</div>
                    <div class="col" style="text-align: center;"><strong>Preço:</strong>&nbsp;R$ {{preco}}</div>
                    <!--<div class="col"><strong>Status:</strong>&nbsp;{{status}}</div>-->

            </li>
            {{else}}
            <div class="m-5">
                <h5>Sem itens cadastrados.</h5>
            </div>
            {{/each}}



        </ul>
       




                
  <!--{{#if user.adm}}


 <div class="col d-flex flex-row-reverse" style="margin:20px">
            <a href="#" class="btn btn-primary ms-2" style="font-size:20px" id="status" name="">Finalizar</a>
        </div>





  <form method="get">
        <div class="col d-flex flex-row-reverse" style="margin:20px">
    <input type = "checkbox" id = "status" name = "status" value="0">
    <label for = "ativoAdm">Em processo</label>
  </div>

  <div class="col d-flex flex-row-reverse" style="margin:20px">
    <input type = "checkbox" id = "status" name = "status" value="1">
    <label for = "ativoAdm">Finalizado</label>
  </div>

   <div class="form-group">
          <button type="submit">Finalizar</button>
        </div>

      </form>
   {{/if}}-->







{{#if user.adm}}
        <a href="/pedido/" class="btn btn-success" style="margin: 20px 10px;">Voltar</a>
        {{else}}
        <a href="/usuario/perfil" class="btn btn-success" style="margin: 20px 10px;">Voltar</a>
        {{/if}}
    </div>
</div>
</div>
<hr>

<script>

</script>