<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin: 0px 0px"></div>
<h3>Lista de Pedidos</h3>
</div>
<div class="lista" style="margin:0 auto">
        {{>_msg}}
    </div>
<hr>

<div class="card" style="width: 80%;">
  <input id="searchbar" onkeyup="search()" type="text"
    name="search" placeholder="Pesquise o pedido">
  <ul id="list" class="list-group list-group-flush">
    {{#each response.data}}
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="font-size:20px"><strong>Número do Pedido: </strong>{{idPedido}}</div>
        <div class="col" style="font-size:20px"><strong>Cliente: </strong>{{nomeCliente}}</div>
        <div class="col" style="font-size:20px"><strong>Data: </strong>{{createdAt}}</div>
        <div class="col d-flex flex-row-reverse">
          <a href="/pedido/find/{{idPedido}}" class="btn btn-primary ms-2" style="font-size:20px">Detalhes</a>
        </div>
      </div>
    </li>
    {{else}}
    <div class="m-5">
      <h5>Sem itens cadastrados.</h5>
    </div>
    {{/each}}

  </ul>
</div> 


<hr>